<!DOCTYPE html>
@{
	Bundles.Reference("Styles/Bundles", "global");
	Bundles.Reference("Scripts/Bundles", "global");
}
<html>
<head>
    @Html.Partial("_HeadMeta")

    <title>@ViewBag.Title | IMS</title>

	@Bundles.RenderStylesheets("global")
	@Bundles.RenderStylesheets()
	@RenderSection("Styles", required: false)

	@Bundles.RenderScripts("global")
	@Bundles.RenderScripts()
</head>
<body id="EmptyLayout">
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
