@model CaptchaMvc.Models.DefaultBuildInfoModel
@{
	var htmlAttributes = new { 		
        placeholder = "驗證碼",
		data_val = "true", 
		data_val_required = "請輸入驗證碼!!",
	};	
}

@Html.Hidden(Model.TokenElementId, Model.TokenValue)


<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>
    @Html.BsTextBox(Model.InputElementId, null, htmlAttributes)
    <a id="RefreshCaptcha" class="input-group-addon" href="#@Model.ImageElementId" title="按一下換一張" style="padding:0; overflow:hidden;">
        <img id="@Model.ImageElementId" src="@Model.ImageUrl" style="height:40px; margin:-4px 0;" />
    </a>    
</div>
<span class="form-tip">@Html.ValidationMessage(Model.InputElementId)</span>

<script type="text/javascript">
    $('#RefreshCaptcha').click(function(){
        $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() });		
        return false;
    });	
</script>
