@model UserChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
    ViewBag.Title = "變更密碼";
}


@section Styles {
}


@section Scripts {
    <script type="text/javascript">
        Dialog.resize(330, 300);
    </script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    action = "",
    ext_one_submit = "",
}))
{

    <div class="modal-header">
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>

    <div class="modal-body auto">
        @if (!TempData.ContainsKey("StatusSuccess"))
        {

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "舊密碼" })
                </div>
                <span class="form-tip">@Html.ValidationMessageFor(m => m.OldPassword)</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "新密碼" })
                </div>
                <span class="form-tip">@Html.ValidationMessageFor(m => m.Password)</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-check-square-o fa-fw"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "確認密碼" })
                </div>
                <span class="form-tip">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
            </div>
        }
        else
        {
            <div class="text-center">
                <span class="btn btn-primary" onclick="$('#LogoutForm').submit();">
                    <i class="fa fa-sign-out fa-fw"></i> 重新登入
                </span>
            </div>
        }
    </div>

    if (!TempData.ContainsKey("StatusSuccess"))
    {
    <div class="modal-footer">
        <span class="btn btn-default" data-dismiss="modal"><i class="fa fa-times fa-lg"></i> 關閉</span>
        <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-lg"></i> 儲存</button>
    </div>
    }
}

<form id="LogoutForm" method="post" action="@Url.Action("Logout","Home")" target="_top"></form>
