@model UserSetPasswordViewModel

@{
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
    ViewBag.Title = "設定密碼";

    int userId;
    Int32.TryParse(Request["userId"], out userId);
       
    
}


@section Styles {
}


<script type="text/javascript">Dialog.resize(350, 300);</script>


@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    action = "",
    ext_one_submit = "",
}))
{

    <div class="modal-header">
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>

    <div class="modal-body auto">
        @if (!TempData.ContainsKey("StatusSuccess"))
        {
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input class="form-control" value="@Html.Items(p => p.UserName)[userId]" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "新密碼" })
            </div>
            <span class="form-tip">@Html.ValidationMessageFor(m => m.Password)</span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square-o fa-fw"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "確認密碼" })
            </div>
            <span class="form-tip">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
        </div>
        }
    </div>

    <div class="modal-footer">
        <span class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times fa-lg"></i> 關閉</span>
        @if (!TempData.ContainsKey("StatusSuccess"))
        { <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-save fa-lg"></i> 儲存</button> }
    </div>

}
