
@{
	ViewBag.Title = "角色列表";

	Dictionary<string, string> actItems = OrionUtils.EnumToDictionary<ACT>(); 

	Pagination<RoleDomain> pagination = ViewBag.Pagination;

}

@section Styles {
}


@section Scripts {
}


<div class="page-header" ext-horizontal-fix="">
	<h1>@ViewBag.Title</h1>
</div>


@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "SearchForm", @class = "well btn-toolbar", ext_horizontal_fix = "" }))
{
	<div class="toolbar-left">
		<a class="btn btn-success btn-sm" href="@Url.Action("Create")"><i class="fa fa-plus fa-lg"></i> 新增</a>
	</div>

	<div class="toolbar-left input-group input-group-sm" style="width: 300px;">
		@Html.BsTextBox("keyword", null, new { placeholder = "關鍵字" })
		<div class="input-group-btn">
			<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search fa-lg"></i> 搜尋</button>
		</div>
	</div>

	@Html.Partial("_PageSizeChange", pagination.TotalItems)
}



<div>
	<table class="table table-striped table-bordered table-condensed table-nowrap table-hover">
		<thead ext-table-fix="">
			<tr class="head">
				<th class="min"></th>
				<th class="RoleName min">@Html.PagerSort(RoleSort.RoleName)</th>
				<th class="AllowActList">允許權限</th>
				<th class="UserIds">使用者</th>
				<th class="Statu mins">@Html.PagerSort(RoleSort.Status)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in pagination.List)
			{
				<tr>
					<td class="min">
						@{ string editUrl = Url.Action("Edit", new { row.RoleId }); }
						<a class="btn btn-warning btn-xs btn-icon" href="@editUrl"><i class="fa fa-pencil fa-lg"></i></a>
					</td>
					<td class="RoleName min">@row.RoleName</td>
					<td class="AllowActList mark-tag">@Html.ShowItem(row.AllowActList, actItems)</td>
					<td class="UserIds mark-tag">@Html.ShowItem(row.UserIds, Html.Items(p => p.UserName))</td>
					<td class="Status mark-label min">@Html.ShowItem(row.Status)</td>
				</tr>
			}
		</tbody>
	</table>

	@if (pagination.TotalItems == 0)
	{ <div class="col-xs-12"><div class="alert alert-danger well-sm"><b>[ 查無任何資料 ]</b></div></div> }
</div>


<div class="text-center" ext-horizontal-fix="">
	<ul class="pagination pagination-sm">@Html.PagerLinks(pagination)</ul>
</div>
